<h1>Welcome</h1>
<p>Welcome to StoryBooks 1.0.0</p>
<p>Post stories from the best and worst of your life and choose for them to be read by the world or completley private
    as your own personal diary</p>
<a class="btn red waves-effect waves-light btn-large social google" href="/auth/google">
    <i class="left fa fa-google"></i> Sign in with
    google
</a>